body{
    margin: 0;
}
header {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
        url(obrazky/pozadi1.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
}

/* NAVIGACNI PANEL */

.navigace a {
    position: relative;
    display: block;
    margin: 0;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 250%;
    color: rgb(213, 98, 255);
    outline: 4px solid rgba(255, 255, 255, 0.307);
    outline-offset: -2px;
    transition: all .3s ease;
    background: rgba(255,255,255,0.1);
    font-family: Kaushan Script;
}
.navigace a:hover{
    transform: scale(0.9);
    background: rgba(4, 0, 0, 0);
    outline-offset: 3px;
    outline-color: rgb(255, 89, 236);
    color: rgb(241, 203, 255);
}
.navigace{
    width: 100%;
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.24);
    border-radius: 0px 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(3.7px);
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}
.ohraniceni{
    width: 80%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigace, .logo, .onPage, .otherPage {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo, .onPage, .otherPage{

}

.logo{
    display: flex;
    align-items: center;
    gap: 15px;
}
.logo img{
    width: 100px;
}
.navigace h1, a{
    margin: 7% 0;
    white-space: nowrap;
}
.logo h1{
    font-family: Kaushan Script;
    font-weight: 400;
    font-size: 400%;
    color: rgb(212, 0, 255);    
    font-family: Agbalumo;
    border-bottom: 4px solid rgb(230, 0, 255);
}

.onPage {  
    display: flex;
    justify-content: center;
}
.otherPage {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.onPage ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.dropdown {
    display: inline;
    position: relative;
    border-radius: 10px;
}
.dropdown-content {
    width: 100%;
    display: none;
    position: absolute;
    left: 0;
    border-radius: 10px;
    padding: 10px;
    min-width: 150px;
    background-color: rgba(24, 91, 149, 0.87);
}
.dropdown-content a {
    color: rgb(213, 98, 255);
    display: block;
    margin: 5px;
}
.dropdown-content a:hover{
    color: rgb(255, 255, 255);
}
.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
}

/* PODNAVIIGACE */
.welcome{
    color: rgba(191, 241, 255, 0.234);
    -webkit-text-stroke: 0.1px rgb(255, 255, 255);
    font-size: 40px;
    text-align: center;
    padding-top: 0.5%;
}
.welcome h1{
    font-family: Agbalumo;
}
.welcome p{
    font-family: Kaushan Script;
    font-size: 50px;
}