body {
    margin: 0;
    background: rgb(152, 152, 152);
}

html {
    scroll-behavior: smooth;
}

.logo a{
    text-decoration: none;
}

.navigace .otherPage a {
    width: 15vh;
    position: relative;
    display: block;
    margin: auto 0;
    text-decoration: none;
    padding: 1vh 2vh;
    border-radius: 1.5vh;
    font-size: 4vh;
    color: rgb(213, 98, 255);
    outline: 0.5vh solid rgba(255, 255, 255, 0.307);
    outline-offset: -0.8vh;
    transition: all .3s ease;
    background: rgba(255,255,255,0.1);
    font-family: Kaushan Script;
    text-wrap: nowrap;
    text-align: center;
}

.navigace .otherPage a:hover {
    transform: scale(0.9);
    background: rgba(4, 0, 0, 0);
    outline-offset: 3px;
    outline-color: rgb(255, 89, 236);
    color: rgb(241, 203, 255);
}

.navigace {
    width: 100%;
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.24);
    border-radius: 0px 0px 16px 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(3.7px);
    border-bottom: 1px solid rgba(0, 0, 0, 1);

    position: fixed;
    top: 0;

    top: 0;
    left: 0;
    z-index: 1000;
    height: auto;
}

@media (min-width: 768px) {
    .navigace {
        position: fixed;
        top: 0;
        left: 0;
    }

}

.ohraniceni {
width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2vh;
    flex-wrap: wrap;
}

.navigace, .logo, .otherPage {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
}

.logo img {
    width: 10vh;
}

.navigace h1, a {
    margin: 0;
    text-decoration: none;
}

.logo h1 {
    font-family: Kaushan Script;
    font-size: 6vh;
    color: rgb(212, 0, 255);
    font-family: Agbalumo;
    white-space: nowrap;
}

.otherPage {
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1vh;
}

@media (max-width: 768px) {
    .navigace {
        position: static;
    }
}



/* OBSAH */
.obsah{
    display: flex;
    margin-top: 15vh;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
img{
    height: 80vh;

}
.right img{
    height: 30vh;
}
@media (max-width: 768px){
    .obsah{
        margin-top: 0;
    }
    .right img{
        height: 20vh;
    }

}
@media (max-width: 500px){
    img{
        height: 50vh;
    }
}


